html {
    background-color: antiquewhite;
}

body {
    text-align: center;
    font-size: 18px;
}

h1 {
    font-size: 50px;
}

img {
    height: 100%;
}

div {
    border: 2px solid burlywood;
    margin: 10px;
}

#introPic {
    float: left;
}

#bio {
    float: right;
}

#bio>li {
    padding: 2px;
}

#pro {
    width: auto;
}

@media (min-device-width: 375px) and (max-device-width: 768px) {
    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }
    html {
        font-size: 62.5%;
        /* padding: 1rem;
        margin: 5rem 5rem; */
    }
    div {
        padding: 0rem 0 2rem 0;
        font-size: 1.3rem;
    }
    img {
        background-size: cover;
        height: 100%;
        width: 100%;
    }
    a {
        padding: 0.25rem 1rem 0.25rem 0;
        background-size: cover;
        text-align: center;
    }
    #introPic {
        float: left;
    }
    #bio {
        display: flex;
        flex-direction: row;
        float: right;
        padding: 2rem 0 0rem 0;
        list-style: none;
        font-size: 1.2rem;
    }
    #bio>li {
        padding: 2rem 0 1.2rem 2rem;
    }
    #pro {
        width: auto;
    }
}