/* Global selectors */

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-size: 62.5%;
    scroll-behavior: smooth;
}

body {
    font-family: 'Roboto', sans-serif;
}

h1 {
    font-size: 2.6rem;
}

li,
ul,
button,
label,
input,
p {
    font-size: 2rem;
}

h2 {
    font-size: 4.8rem;
}

h3 {
    font-size: 3rem;
}

h4,
h5 {
    font-size: 2.8rem;
}

a {
    color: #ffff;
    text-decoration: none;
}

button {
    padding: 2rem 6rem;
    background: #2398aa;
    border: none;
    color: #fff;
    font-size: 1.8rem;
    cursor: pointer;
    transition: background 0.5s ease-in-out;
}

button:hover {
    background: #0f4c55;
}

button:focus {
    background: #141e29;
}


/* Nav bar */

.main-header {
    background: #387780;
    color: rgba(22, 18, 18, 0.63);
    position: sticky;
    top: 0px;
    z-index: 3;
}

nav {
    display: flex;
    width: 90%;
    margin: auto;
    padding: 2rem;
    min-height: 10vh;
    align-items: center;
    flex-wrap: wrap;
}

nav ul {
    display: flex;
    flex: 1 1 40rem;
    justify-content: space-around;
    align-items: center;
    list-style: none;
    font-weight: 700;
    font-size: 1.5rem;
}

#logo {
    flex: 2 1 40rem;
    font-family: 'Indie Flower', cursive;
    font-weight: 300;
    font-size: -1rem;
}

.hero {
    min-height: 90vh;
    background: linear-gradient(#DBD4D3, transparent), url('./img/nrd-1ZOZyhfSvfs-unsplash.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.hero h3 {
    padding: 4rem;
}

#menu {
    min-height: 100vh;
    background: linear-gradient(rgba(0, 0, 0, 0.5), transparent), url("./img/marcus-ganahl-W5qgKZj-qnk-unsplash.jpg");
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    position: relative;
    overflow: hidden;
}

.menu {
    font-family: 'Indie Flower', cursive;
    list-style: none;
    padding: 1rem 10rem;
    font-size: 20rem;
}

.menu-header {
    width: 90%;
    margin: auto;
}

.menu-header h2 {
    padding: 0rem 10rem 29.5rem 10rem;
    text-decoration: underline;
    text-decoration-thickness: 0.5rem;
    font-family: 'Indie Flower', cursive;
}


/* footer section */

footer {
    color: white;
    background: #136f7e;
}

.footer-wrapper {
    display: flex;
    padding: 2rem;
    width: 90%;
    margin: auto;
    align-items: center;
    min-height: 10vh;
    flex-wrap: wrap;
}

footer h5 {
    flex: 1 1 40rem;
}

footer ul {
    display: flex;
    list-style: none;
    flex: 1 1 40rem;
    justify-content: space-between;
    align-items: center;
}